*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --light: #C7C7C7;
    --text: #F7F7F7;
    --green: #78B259;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
  }

  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }