@media (max-width: 640px) {

    nav {

        .menu {
            display: block;
        }

        .nav-izquierda {
            .logo {
                width: 6rem;

            }

            ul {
                display: none;
            }
        }

        .desktop-menu {
            display: none;
        }



        .nav-derecha {
            ul {
                list-style: none;

                .nav-usuario {
                    display: none;
                }

                .nav-carrito {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }


    .contenedor-carts {

        grid-template-columns: repeat(auto-fill, 14rem);

        .items-carts {
            width: 14rem;

            img {
                width: 14rem;
                height: 14rem;
            }

        }
    }

    .product-detail {
        width: 100%;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}