@media (max-width: 640px){

    nav{        
        
        .menu{
            display: block;
        }   
    
        .nav-izquierda{
 
            ul{
                display: none;               
            }
        }
    
        .nav-derecha{
            ul{
                list-style: none;                
    
                .nav-usuario{
                    display: none;
                }   
                .nav-carrito{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }             
            }
        }
    }
    

.contenedor-carts{
    
    grid-template-columns: repeat(auto-fill, 14rem);

    .items-carts{
        width: 14rem;

        img{
            width: 14rem;
            height: 14rem;            
        }
        
    }
}
}